<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Pasu Siahaan">
    <meta name="Description" content="Pasu Siahaan's Profile">
    <meta name="Keywords" content="pasusiahaan">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="'Welcome ' + ${user.username}"></title>
</head>
<body>
<ul class="navigation">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/profile">About Me</a></li>
    <li><a href="/search">Search Danus</a></li>
</ul>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p> Nama </p>
            <p> Nomor Telepon</p>
            <p> Institusi </p>
        </div>
        <div class="col-md-8">
            <p th:text="${user.name}"></p>
            <p th:text="${user.phone}"></p>
            <p th:text="${user.institusi}"></p>
        </div>
    </div>

</div>
<br>
<footer id="footer">
    <p>Kelompok 10 AdPro-A © 2019</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
    }
    h2 {
        margin-bottom:200px;
    }

    body {
        background: #2b5876;
        background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
        background: linear-gradient(to right, #2b5876, #4e4376);
        color:white;
    }

    .navigation {
        list-style: none;
        margin: 0;

        background: whitesmoke;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: #4e4376;
    }

    .navigation a:hover {
        background: whitesmoke;
    }

    @media all and (max-width: 800px) {
        .navigation {
            justify-content: space-around;
        }
    }

    @media all and (max-width: 600px) {
        .navigation {
            -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
            padding: 0;
        }

        .navigation a {
            text-align: center;
            padding: 10px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }


        .navigation li:last-of-type a {
            border-bottom: none;
        }
    }
</style>
