@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600);

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
body {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
    background: linear-gradient(to right, #2b5876, #4e4376);
}
.wrap {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.menu {
    width: 300px;
    text-transform: uppercase;
    font-size: 14px;
}
input#toggle {
    position: absolute;
    z-index: -9999;
}
input#toggle:checked ~ label {
    background: #42423E;
}
input#toggle:checked ~ ul {
    display: block;
    opacity: 1;
    animation-play-state: running;
}
ul {
    margin: 20px 0 0 0;
    display: none;
    opacity: 0;
    animation: fade .5s linear;
    animation-play-state: paused;
}
label, li {
    width: 300px;
    background: #2ecc71;
    display: block;
    padding: 15px 20px;
    cursor: pointer;
}
label {
    box-shadow: 0 6px 10px -6px #4F4F4B;
}
li {
    border-bottom: 3px solid #42423E;
}
li:hover, label:hover {
    background: #42423E;
}
ul:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #DF826B;
    position: relative;
    left: 100%;
}
li:last-child {
    border: none;
    box-shadow: 0 6px 10px -6px #4F4F4B;
}
a, span, h1 {
    color: #FFFFFF;
    text-fill-color: transparent;
    background: linear-gradient(transparent, transparent), linear-gradient(to bottom, #ffffff 0%,#efe9e8 100%) no-repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    cursor: pointer;
}
h1{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 40px;
}
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
